{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1 style="color:red"> {{ movie.title}} ({{movie.year}})</h1>
	<img src="{{movie.poster}}" style='height:50% float:left' class='img-responsive img-thumbnail'/>
	<hr>
	<h3>{{movie.plot}}</h3>
	<h3>Rating IMDB: {{movie.ratings.0.Value}}</h3>
	<h3>Cast: {{movie.actors}}</h3>
	<hr>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
