{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<h1>Watch Later</h1>
	<hr>
    {% for movie in watch_later_movies %}
   <h2> {{ movie.title}} ({{movie.year}})</h2>
	<img src="{{movie.poster}}" style='height:50% float:left' class='img-responsive img-thumbnail'/>
	<h3>{{movie.plot}}</h3>
	<h3>Rating IMDB: {{movie.ratings.0.Value}}</h3>
	<h3>Cast: {{movie.actors}}</h3>
	<hr>
    <br>
    {% endfor %}
</div>
{% endblock %}
