{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="background-color:#b8d9f9;color:white;font-family:Courier New;" ><center>Portofolio</center></h1>
    <hr/>
    <section name="bio">
        <h2><center>Bio</center></h2>
		<center><img height="200" weight="200" class="img-circle" src = "https://pbs.twimg.com/profile_images/903293355941011456/qSFUCTHg_400x400.jpg"></center>
        <p><center>
            {{content}}
        </center></p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2><center>List</center></h2>
        <center><ul style="list-style-type:none">
            {% for ii in about_me %}
            <center><li> {{ ii }} </li></center>
            {% endfor %}
        </center></ul>
    </section>
    <hr/>
	<section name="form">
        <h2><center>Send Message</center></h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}

